interactives/YandolSim/YandelSim_source/.godot/
interactives/poop game/source/.godot/
interactives/admit_one/.godot/
changelog.js
python_server/drungy_selfie/target
python_server/drungy_selfie/executable
python_server/drungy_selfie/Cargo.lock
python_server/lib/
python_server/lib64
python_server/include
python_server/chat_main/target
python_server/chat_main/executable
python_server/bin
tmp/*
