@font-face {
	font-family: handdrawn;
	src: url("assets/cms.ttf");
}
@font-face {
	font-family: scary;
	src: url("assets/czk.ttf");
}
@font-face {
	font-family: courier;
	src: url("assets/Courier Prime Code.ttf");
}
@font-face {
	font-family: death;
	src: url("assets/Younger than me.ttf");
}
@font-face {
	font-family: readable;
	src: url("assets/TiresiasInfofont_bold.ttf");
}
@font-face {
	font-family: fira;
	src: url("assets/FiraCode-Regular.ttf");
}

body {
	background: linear-gradient(45deg, black, grey);
	margin: 5px;
}
.main {
	background-color: cyan;
	padding:1%;
	margin: 2.5%;
	display: flex;
	flex-direction: column;
}
.main-container {
	display: flex;
	padding: 10px;
	justify-content: space-evenly;
	flex-direction: row;
}

h1 {
	font-size: 400%;
}

a {
	text-decoration: none;
}
.header {
	display: flex;
	justify-content: space-between;
}

#standard-head {
	font-size: 500%;
	font-family: handdrawn;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
#standard-list {
	font-size: 150%;
	font-family: handdrawn;
	list-style: url("assets/bullet.webp");
}
#fun-head {
	font-size: 400%;
	font-family: handdrawn;
	background-image: linear-gradient(45deg, red, blue, green);
	-webkit-background-clip: text;
	color: transparent;
	padding-left: 50px;
}
code,
iframe {
	display: block;
	white-space: pre;
	background: black;
	color: lime;
	font-family: fira;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
#cool-button {
	font-size: 150%;
	text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #000,
		1px 1px 0 #fff;
	background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}
